/*
  widget
*/
.show-grid [class*="subfilter"] {
  background-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  min-height: 40px;
  height: 100%;
}
.show-grid [class*="subfilter"] .filter-separator {
  margin: 40px 0 39px;
}
/*
  control panel
*/
.control-panel {
  zoom: 1;
  display: inline-block;
  font-size: 80%;
  vertical-align: middle;
  line-height: 180%;
}
.control-panel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.control-panel input {
  margin: 0;
  vertical-align: middle;
  margin-right: 3px;
}
.control-panel .filter-con {
  padding: 10px;
}
.control-panel .filter-con label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.control-panel .filter-con > div {
  margin-bottom: 10px;
}
.control-panel .filter-con > h5 {
  color: #f89406;
}
.control-panel .batch-con {
  display: none;
  padding: 10px 20px;
}
.control-panel .batch-con .filter-separator {
  margin: 15px;
}
.control-panel .batch-con > div {
  margin-bottom: 10px;
}
.control-panel .batch-con > h5 {
  color: #f89406;
}
/*
  common function
*/
